Gather name, age, origin

In [2]:
import json
import numpy as np
import pandas as pd

In [4]:
def create_df(file_name):
    singers_details = []
    with open (file_name, encoding = 'utf-8') as file:
        for each_infobox in file.readlines():
            each_line = json.loads(each_infobox)
            keys = ['name', 'members', 'current_members', 'birth_name', 'origin', 'birth_place', 'birth_date']
            try:
                if keys[0] in each_line.keys():  # artist name
                    name = each_line[keys[0]]
                else:
                    name = np.nan

                if keys[1] in each_line.keys():  # members for bands
                    members = each_line[keys[1]]
                elif keys[2] in each_line.keys():
                    members = each_line[keys[2]]
                else:
                    members = np.nan

                if keys[3] in each_line.keys():  # artist birth name
                    birth_name = each_line[keys[3]]
                else:
                    birth_name = np.nan

                if keys[4] in each_line.keys():  # nationality
                    birth_place = each_line[keys[4]]
                elif keys[5] in each_line.keys():
                    birth_place = each_line[keys[5]]
                else:
                    birth_place = np.nan

                if keys[6] in each_line.keys():  # age
                    birth_date = each_line[keys[6]]
                else:
                    birth_date = np.nan

            except AttributeError as err:
                pass

            singers_details.append({'names': name,
                                    'members': members,
                                    'birth_name': birth_name, 
                                    'birth_place': birth_place,
                                    'birth_date': birth_date})
            
    artists_details = pd.DataFrame(singers_details)
           
    return artists_details

In [ ]:
df1 = create_df(file_name='singers_json_1.txt')
df2 = create_df(file_name='singers_json_2.txt')
df3 = create_df(file_name='singers_json_3.txt')
df4 = create_df(file_name='singers_json_4.txt')

In [37]:
artists = df1.append([df2, df3, df4], ignore_index=True)
artists = artists.drop_duplicates(keep='first')
artists

,names,members,birth_name,birth_place,birth_date
0,Taylor Swift,NaN,Taylor Alison Swift,"[[West Reading, Pennsylvania]], U.S.",{{Birth date and age|1989|12|13}}
1,Thomas Rhett,NaN,Thomas Rhett Akins Jr.,"[[Nashville, Tennessee]], U.S.",{{birth date and age|1990|03|30}}
2,Bruno Mars,NaN,Peter Gene Hernandez,"[[Honolulu|Honolulu, Hawaii]], U.S.",{{birth date and age|1985|10|08}}
3,Ed Sheeran,NaN,Edward Christopher Sheeran,"[[Halifax, West Yorkshire]], England",{{Birth date and age|df|=|y|1991|2|17}}
4,Bill Conti,NaN,William Conti,"[[Providence, Rhode Island]], U.S.",{{Birth date and age|1942|4|13}}
...,...,...,...,...,...
2536,Global Communication,[[Mark Pritchard (music producer)|Mark Pritcha...,NaN,"[[Yeovil]], [[England]]",NaN
2538,Banco de Gaia,Toby Marks,NaN,England,NaN
2539,Cecil Taylor,NaN,Cecil Percival Taylor,"[[Long Island City]], New York, U.S.",{{Birth date|1929|3|25}}
2541,Nektar,{{plainlist|\n'''Nektar''' (US-based band)<br>...,NaN,"[[Hamburg]], West Germany",NaN
2542,Arlo Guthrie,NaN,Arlo Davy Guthrie,"[[Brooklyn]], New York City, U.S.",{{Birth date and age|1947|07|10|mf|=|y}}

In [40]:
gender_df = pd.read_csv('singers_gender.csv', encoding='latin1')
gender_df

                 artist  gender                       category
0              12 Gauge    male  African-American_male_rappers
1                  1987    male           Swedish_male_singers
2              2 Chainz    male  African-American_male_rappers
3             2 Pistols    male  African-American_male_rappers
4             21 Savage    male  African-American_male_rappers
...                 ...     ...                            ...
23172     Ã˜ystein Sunde    male                Male_guitarists
23173      Ã˜yvind Nypan    male                Male_guitarists
23174  Ãšna MacLochlainn  female           Irish_female_singers
23175      Ãšna Palliser  female           Irish_female_singers
23176      ?ebnem Ferah  female            Female_rock_singers

[23177 rows x 3 columns]

In [42]:
artists_details = artists.merge(gender_df, how='left', left_on='names', right_on='artist')
artists_details

,names,members,birth_name,birth_place,birth_date,artist,gender,category
0,Taylor Swift,NaN,Taylor Alison Swift,"[[West Reading, Pennsylvania]], U.S.",{{Birth date and age|1989|12|13}},Taylor Swift,female,American_female_country_singers
1,Thomas Rhett,NaN,Thomas Rhett Akins Jr.,"[[Nashville, Tennessee]], U.S.",{{birth date and age|1990|03|30}},Thomas Rhett,male,American_male_singers
2,Bruno Mars,NaN,Peter Gene Hernandez,"[[Honolulu|Honolulu, Hawaii]], U.S.",{{birth date and age|1985|10|08}},Bruno Mars,male,American_male_singer-songwriters
3,Ed Sheeran,NaN,Edward Christopher Sheeran,"[[Halifax, West Yorkshire]], England",{{Birth date and age|df|=|y|1991|2|17}},Ed Sheeran,male,English_male_singers
4,Bill Conti,NaN,William Conti,"[[Providence, Rhode Island]], U.S.",{{Birth date and age|1942|4|13}},NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2082,Global Communication,[[Mark Pritchard (music producer)|Mark Pritcha...,NaN,"[[Yeovil]], [[England]]",NaN,NaN,NaN,NaN
2083,Banco de Gaia,Toby Marks,NaN,England,NaN,NaN,NaN,NaN
2084,Cecil Taylor,NaN,Cecil Percival Taylor,"[[Long Island City]], New York, U.S.",{{Birth date|1929|3|25}},NaN,NaN,NaN
2085,Nektar,{{plainlist|\n'''Nektar''' (US-based band)<br>...,NaN,"[[Hamburg]], West Germany",NaN,NaN,NaN,NaN
2086,Arlo Guthrie,NaN,Arlo Davy Guthrie,"[[Brooklyn]], New York City, U.S.",{{Birth date and age|1947|07|10|mf|=|y}},Arlo Guthrie,male,American_male_guitarists

In [44]:
artists_details.to_csv('artists_details.csv', index=False)